@import "@tabler/core/dist/css/tabler.min.css";


:root, :host {
    margin-left: 0;
}

:root {
    --color-2: rgba(90, 88, 84, 1);
    --color-3: rgba(23, 23, 23, 1);
    --Color-4: rgba(90, 88, 84, 1);
    --Color-5: rgba(90, 88, 84, 1);
    --color-6: rgba(242, 241, 240, 1);
    --color-hover: #e00000;
    margin-left: 0;

    --color-orange-hover-theme: #e24405;
    --color-orange-theme: #fb4c06;
    --color-blue-theme: #00269a;
    --color-red-theme: #fb4c05;
    --bg-blue-theme: #1b3392; /*color title, bg*/
    --color-deep-blue: #13259c;  /*color text menu, header, link*/
    --color-blue-dask-theme: #182e83;
    --color-orance-badge-theme: #81ce0a;

    --color-menu-text: #fff;
    --color-menu-text-active: #fff;
    --bg-blue-dask-theme: #0d1a6d;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-orange-theme)
}

p{
    color: #fff;
}

.fw-700{
    font-weight: 700 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.fw-500{
    font-weight: 500 !important;
}

.fw-400{
    font-weight: 400 !important;
}

.card-title{
    font-size: 22px;
    color: var(--color-blue-theme);
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

.bg-none{
    background: none !important;
}

.bg-orange-theme{
    background-color: var(--color-orange-theme);
    color: #fff;
}

.btn-orange-theme{
    opacity: 1;
    gap: 10px;
    background: #FFF0EA;
    color: #F15A24;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 10px;
    border: 2px solid #802200;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-orange-theme:hover{
    border: 1px solid #802200;
    background-color: #FFDFD3;
    color: #F15A24;
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(39, 64, 111, 0.3);
}


.text-blue-theme{
    color: var(--color-blue-theme) !important;
}

.text-orange-theme{
    color: var(--color-orange-theme) !important;
}

.btn-outline-cancel{
    border-radius: 4px;
    border: 1px solid #555;
}

.btn-outline-blue-theme{
    background: #ffffff;
    color: var(--color-blue-theme);
    border: 1px solid var(--color-blue-theme);
    border-radius: 4px;
}
.btn-outline-blue-theme:hover, .btn-outline-blue-theme:active, .btn-outline-blue-theme:focus, .btn-outline-blue-theme.active{
    background: var(--color-blue-theme);
    color: #fff;
    border: 1px solid var(--color-blue-theme);
    border-radius: 4px;
}

.no-caret:after{
    display: none !important;
}

.text-deep-blue {
    color: var(--color-deep-blue);
}

.bg-color-none{
    background-color: unset !important;
}
.border-none{
    border: none !important;
}
.box-shadow-none {
    box-shadow: none !important;
}

.btn-blue-theme{
    background-color: var(--bg-blue-theme);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-blue-theme:hover{
    background-color: var(--color-blue-dask-theme);
    color: #fff;
    border: none;
    border-radius: 10px;

    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(39, 64, 111, 0.3);
}

.mt-session{
    margin-top: 60px;

}
.mb-session{
    margin-bottom: 60px;

}

html {
    /*scroll-behavior: auto !important;*/
    scroll-behavior: smooth !important;
}

body {
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv03", "cv04", "cv11";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background: #f3f4f6;
}

#app-wrapper {
    /*overflow-x: hidden;*/
    overflow-x: visible;
}

/* Base: mobile first */
.container-xxl{
    max-width: 1440px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: calc(100% - 120px);
}

.box {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.box .box-image {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.box .image-cover {
    display: block;
    padding-top: 100%;

    transition: transform 0.25s ease-out;
    will-change: transform;
}

.image-cover img {
    bottom: 0;
    font-family: "object-fit: cover;";
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.form-select {
    height: 48px;
    border-radius: 12px;
    background-color: #fafafa;
    color: var(--color-blue-theme);
}

.form-control.is-invalid {
    border-color: #FFD6D6;
    box-shadow: 0 0 0 2px rgba(255, 80, 80, 0.25);
}
.form-control:focus {
    color: #fff;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.04);

    box-shadow:
            0 0 0 2px rgba(255, 255, 255, 0.25),
            0 4px 10px rgba(0, 0, 0, 0.15);
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.65);
}
.form-control {
    width: 100%;
    height: 48px;
    padding: 12px 32px 12px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    outline: none;
    box-shadow: none;
    transition:
            border-color 0.2s ease,
            box-shadow 0.2s ease,
            background-color 0.2s ease;
    backdrop-filter: blur(2px);
    text-decoration: none !important;
    text-decoration-color: transparent !important;
}
.form-control:hover {
    border-color: #ffffff;
}

.ui.selection.dropdown, .ui.selection.dropdown input{
    display: flex !important;
    align-items: center !important;
    font-size: 15px !important;
    height: 48px !important;
    border-radius: 12px !important;
    background: #FAFAFA !important;
}
.ui.fluid.dropdown>.dropdown.icon{
    font-size: 15px !important;
    height: 48px !important;
}
.ui.search.dropdown>.text,
.ui.active.search.dropdown input.search:focus+.text,
.ui.dropdown:not(.button)>.default.text,
.ui.default.dropdown:not(.button)>.text, .ui.selection.dropdown .menu>.item,
.ui.dropdown:not(.button)>input:focus~.default.text,
.ui.default.dropdown:not(.button)>input:focus~.text{
    color: var(--color-blue-theme) !important;
}

.ui.selection.dropdown>.search.icon, .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon{
    color: var(--color-blue-theme) !important;
}

.invalid-feedback.msg-err-input {
    display: block;
}

.text-color-2 {
    color: var(--color-2);
}

.text-color-3 {
    color: var(--color-3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-black {
    background: var(--color-3);
    color: rgba(255, 255, 255, 1);
}

.form-check-label {
    color: var(--color-3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea.form-control {
    height: auto;
}

.bg-gray {
    background-color: rgba(238, 236, 232, 1);
}

.page.has-transparent .page-body, .page-body {
    margin-top: 0 !important;
}

/* Thêm transition cho cả vào/ra */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.4s ease;
    overflow: hidden;
}

/* Bắt đầu ẩn -> hiện */
.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
    max-height: 0;
}

/* Hiện hoàn toàn */
.slide-fade-enter-to,
.slide-fade-leave-from {
    opacity: 1;
    max-height: 300px; /* tuỳ anh set theo chiều cao menu */
}

/* transition cho enter & leave */
.slide-down-enter-active,
.slide-down-leave-active {
    transition: max-height 0.4s ease, opacity 0.3s ease;
    overflow: hidden;
}

/* khi bắt đầu hiển thị */
.slide-down-enter-from,
.slide-down-leave-to {
    max-height: 0;
    opacity: 0;
}

/* khi đã hiển thị xong */
.slide-down-enter-to,
.slide-down-leave-from {
    max-height: 500px; /* set cao hơn chiều cao thực tế của menu */
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

/* input search select */

.input-search-select {
    position: relative;
}

.input-search-select .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}

.input-password .input-icon-addon {
    padding-right: 1rem;
    gap: 6px;
}

.input-icon-addon.has-click {
    cursor: pointer;
    pointer-events: all;
}

/* btn */

.btn-outline-dark {
    color: var(--color-2);
    border-color: var(--color-2);
}

.btn-outline-white {
    background-color: transparent;
    color: #FFF;
}

.btn-outline-dark:hover {
    background-color: var(--color-2);
}

.btn-outline-white:hover {
    background-color: #FFF;
    color: var(--color-2);
}

.btn-dark {
    background: var(--color-2);
}

.input-rating {
    display: flex;
    gap: 6px;
}

.input-rating svg {
    cursor: pointer;
    width: 33px;
    height: 33px;
}

@media screen and (max-width: 767px) {
    .input-rating svg {
        width: 26px;
        height: 26px;
    }
}

/* home */

.gap-home {
    margin-top: 60px;
}

/* banner */

.banner {
    /*height: 763px;*/
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*.banner .overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.banner .overlay {*/
/*    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 53.53%, rgba(0, 0, 0, 0.80) 100%);*/
/*}*/

.banner .bg-banner {
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner .bg-banner img {
    font-family: "object-fit: cover;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
}

.banner-content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;        /* sát đáy */
    justify-content: flex-start; /* lệch trái */
}
.banner-wrap-content {
    width: 100%;
    max-width: 720px; /* tránh quá rộng */
    padding-left: clamp(1.5rem, 6vw, 5rem);
    padding-bottom: clamp(2rem, 6vh, 4.5rem);
}

@media (max-width: 1024px) {
    .banner-wrap-content {
        padding-left: 2rem;
        padding-bottom: 3rem;
    }
}
@media (max-width: 768px) {
    .banner-content {
        justify-content: center;   /* căn giữa ngang */
        align-items: center;       /* căn giữa dọc */
        text-align: center;
    }

    .banner-wrap-content {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0;
    }
}

.banner-wrap-content {
    padding: 40px;
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
}

.banner-content.dark .banner-title, .banner-content.dark .banner-subtitle {
    color: var(--color-2);
}

.banner-content.medium .banner-title {
    font-size: 50px;
    line-height: 62px;
}

.banner-content.mega .banner-title {
    font-size: 50px;
    line-height: 4rem;
    font-weight: bold;
}

.banner-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.banner-subtitle p{
    color: #FFFFFF;
}

.banner-content.mega .banner-subtitle {
    font-size: 20px;
    line-height: 2rem;
}

.banner-content.medium .banner-subtitle {
    font-size: 20px;
    line-height: 36px;
}

.banner-content.left-bottom {
    width: 500px;
    bottom: 0;
    top: auto;
}

.banner-content.left-bottom.mega {
    width: 800px;
}

.banner.banner-overlay-top .bg-banner img {
    object-position: top;
}

.banner.banner-overlay-top .overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 53.53%, rgba(0, 0, 0, 0.80) 100%);
}

.left-bottom .banner-wrap-content {
    justify-content: end;
    align-items: start;
}

@media screen and (max-width: 767px) {
    .banner-content.medium .banner-title {
        font-size: 30px;
        line-height: 38px;
    }

    .mt-session {
        margin-top: 20px;
    }

    .banner-height-short.banner .banner-content.left-bottom {
        padding-bottom: 25px;
    }
}

.slider-banner-cltwo .banner-content {
    padding-bottom: 24px;
}

.slider-banner-cltwo .banner {
    border-radius: 8px;
}

.banner-content:not(.left-bottom) .banner-subtitle {
    text-align: center;
}

.star-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.sec-title {
    color: var(--color-orange-theme);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 100% */
}

.sec-subtitle {
    color: #5A5854;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 106.667% */
    letter-spacing: 0.45px;
}

.wrap-cart {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#offCart {
    max-width: 400px !important;
    width: 100%;
    height: auto;
    /*border-radius: 40px 0px 0px 40px;*/
}

#offCart .offcanvas-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-blue-theme);
}

#offCart .offcanvas-title sup {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-blue-theme);
}

.cart-price-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #393939;
}

.cart-item-delete {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
}

.cart-product-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-blue-theme);
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cart-variant-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
}

#offCart .input-quantity {
    width: 106px;
    height: 28px;
    border-width: 1px;
}

#offCart .input-quantity .qty-number {
    font-size: 14px;
}

#offCart .input-quantity .decrease-qty svg, #offCart .input-quantity .increase-qty svg {
    width: 10px;
    height: 11px;
}

.cart-total {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-2);
}

.banner-height-short {
    height: 495px;
}

@media screen and (max-width: 767px) {
    .sec-title {
        font-size: 24px;
    }

    .banner {
        /*height: 750px;*/
    }

    .banner-content.left-bottom {
        width: 100%;
    }

    .banner .banner-content {
        padding: 20px 0px;
    }

    .banner .banner-content.left-bottom {
        padding: 0px 0px 80px 0px;
    }

    .banner-content.left-bottom.mega {
        width: 100%;
    }

    .banner-content.mega .banner-title {
        font-size: 64px;
        line-height: 70px;
    }

    .banner-wrap-content {
        gap: 8px;
    }

    .banner-content.mega .banner-subtitle {
        font-size: 18px;
        line-height: 28px;
    }

    .banner-header {
        height: 184px;
    }
}

/* video */

.video-view {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 396px;
    border-radius: 16px;
}

.video-view .wrap-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-view .wrap-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video-view .inner-video {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-view .inner-video .toggle-play-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.078);
    cursor: pointer;
}

.video-view .wrap-thumbnail {
    width: 100%;
    height: 100%;
}

.video-view .wrap-thumbnail .thumbmails {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video-view .wrap-thumbnail .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 58px;
    height: 58px;
    padding: 16px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: all .3s ease;
}

.video-view .wrap-thumbnail .play-btn:hover {
    background: rgba(0, 0, 0, 0.4);
}

.video-view .content-video {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.00) 80%);
    backdrop-filter: blur(21.600000381469727px);
}

.video-view .content-video .social {
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    transition: all .3s ease;
}

.video-view .content-video .social:hover {
    color: #e00000;
}

/* =============================
   Banner Medium (Trang khác, 5:2)
   ============================= */
.banner-medium {
    width: 100%;
    aspect-ratio: 5/2;
    overflow: hidden;
    position: relative;
}

.banner-medium img,
.banner-medium .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* =============================
   Banner Square (1:1)
   ============================= */
.banner-square {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.banner-square img,
.banner-square .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* =============================
   Banner Auto (Chiều cao tự theo ảnh)
   ============================= */
.banner-auto img,
.banner-auto .banner-img {
    width: 100%;
    height: auto !important;
    object-fit: cover;
}

.banner-auto .bg-banner {
    height: auto !important;
    position: relative;
}

.banner-auto .overlay {
    display: none;
}

.banner-wrapper:not(:first-child) {
    padding-top: 10px;
}

.title-lk{
    width: 295px;
    height: 48px;
    opacity: 1;
    border: 2px solid red;
    border-radius: 4px;
    padding: 8px 40px;
    gap: 10px;
    text-align: center;
    background-color: #FFDFD3;
    font-size: 20px;
    font-weight: 800;
    color: #ff7a00;
    margin-bottom: 16px;
}

.title-product-new{
    font-size: 40px;
    text-align: center;
}

.title-product-new{
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .formsub .input-icon {
        width: 100%;
    }

    .cline {
        width: 100%;
    }
}

label{
    font-weight: 500;
    font-size: 14px;
    color: var(--color-blue-theme)
}

label.required::after {
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 77, 79);
    font-size: 14px;
    line-height: 1;
    content: "*";
}

/* =============================
   Banner viewport (Hero – như Crocs)
   ============================= */
.banner-viewport {
    position: relative;
    width: 100%;
    height: 100vh;       /* desktop full viewport */
    overflow: hidden;
}

@media (max-width: 768px) {
    .banner-viewport {
        height: 55vh;    /* mobile */
    }
}

/* wrapper bg banner */
.banner-viewport .bg-banner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ảnh trực tiếp hoặc trong Banner component */
.banner-viewport img,
.banner-viewport .banner-img,
.banner-viewport .bg-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    background-color: black;
}

/* overlay giống Crocs */
.banner-viewport .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.15) 0%,
            rgba(0,0,0,0.45) 100%
    );
}


/* banner */

.banner {
    height: 763px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .bg-banner {
    width: 100%;
    height: 100%;
}

.banner .bg-banner img {
    font-family: "object-fit: cover;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
}

